Repository camaraproject/QualityOnDemand, pull requests merged in 2023-01, with the labels that each got.

#76 Editorial updates of documentation QoD_API.md
  documentation/API_documentation/QoD_API.md
Labels: documentation, QoD, minor

#82 Use the terms QoS profiles and QoD API consistently
  documentation/API_documentation/QoD_API.md
Labels: documentation, QoD, minor

#87 Fix broken links
  documentation/API_documentation/QoD_API.md
Labels: documentation, minor

#89 Update from notificationsUri to notificationsUrl
  code/API_definitions/qod-api.yaml
  documentation/API_documentation/QoD_API.md
Labels: bug, QoD

#77 Fixed couple of typos
  code/API_definitions/qod-api.yaml
Labels: QoD, minor

#86 Added Generic error 500 to remaining procedures
  code/API_definitions/qod-api.yaml
  documentation/API_documentation/QoD_API.md
Labels: bug, QoD
